/* ONLINE CV     */



/* class Selectors*/
*{
	box-sizing: border-box;
}
body{
	padding: 0;
	margin: 0;
	font-family: 'Raleway';
    position: relative;
}

.main-nav{
	padding: .5em 0;
	overflow: hidden;
	width: 90%;
	margin: auto;
    position: relative;
}

.nav-list li{
	display: inline-block;
	padding: 0 20px;
	float: right;
}
.nav-list a{
	color: white;
	padding-right: 5px;
	border-right: solid 2px greenyellow;
	font-family: 'Raleway';
	font-size: 1.2em;
	margin: 1em;
}
.nav-list a:hover{
	padding-left: 5px;
	border-left: solid 2px violet;
	border-right: none;
}


.nav-list{
	text-align: center;
}

.main-header{
	width: 70%;
	margin: auto;
}


.container{
	padding: 8% 0;
	min-height: calc(90vh - 132px);
	box-sizing: border-box;
}

h1{
	font-family: 'Raleway';
	letter-spacing: 4px;
	color: white;
	font-size: 50px;
	text-shadow: 10px 10px 5px  black;
	padding: 0;
	margin: 0;
}

h1 + p {
	color: greenyellow;
	font-size: 2em;
	margin: 0;
	font-family:"Raleway";
	border-bottom: 1px solid;
	display: inline;
	background: linear-gradient(90deg ,greenyellow ,white , greenyellow);
	background-size: 80%;
	animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

h1 + p:hover{
	
}

.wrapper{
	background-image:linear-gradient(to right, black, transparent),
		            url(../image/bg.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    position: relative;
    max-height: 85vh;

}

.button{
	display: inline-block;
	padding: 10px;
	border: solid 1px white;
	border-radius: 3px;
	font-family:Raleway;
	color: white;
}

.button:hover{
	border: solid 1px violet;
	color: violet;
	animation: none;
}


#project-button{
	animation: 5s flash ;
}

#project-button:hover{
	animation: none;
}

#project-button:focus{
	animation: none;
}

.footer  p{
	font-size: 1.5em;
	margin-left: 15%;
	display: inline-block;
}

.footer i{
	cursor: pointer;
}


.footer form{
	display: inline-block;
	margin-left: 35%;
}

.footer form input,
.footer form button{
	padding: 5px;
	border-radius: 3px;
	border: solid 1px black;
	font-size: .8em;
}

.footer form button{
	background-color: black;
	box-shadow: 2px 2px 5px grey;
	color: white;
	cursor: pointer;
}

.footer form button:active{
	color: black;
	background-color: white;
	border: solid 1px black
}

.affiliates{
	padding-bottom: 5%;
	margin-top: 2%;
	color: white;
	margin-left: 15%;
}

.affiliates img{
	width: 15%;
	vertical-align: middle;
	margin-top: 4%;
	opacity: 0.6;
	cursor: pointer;
	animation: 1s zoomIn;
}

.affiliates img:hover{
	opacity: 1;
}



#stanford-tweak{
	display: inline-block;
	vertical-align: top;
	font-size: 1.2em;
	padding-top: 20px;
	opacity: 0.6;
	animation: 1s zoomIn;
}


#stanford-logo{
	width: 30%;
	display: inline-block;
	vertical-align: middle;
	padding-top: 25px;
}


/*   STYLES FOR PORTFOLIO PAGE*/

#laptopng{
	margin-left: 1%;
	animation: 1s zoomIn ;
}

#mobilelaptopng{
    display: none;
}

#portfoliodiv{
	width: 80%;
	position: relative;
    margin: auto;
}


#portfoliodiv i{
	color: white;
}

#portfoliodesc{
	width: 40%;
	float: right;
	color: white;
	font-stretch: 3px;
    text-align: right;
}

#portfoliodesc i{
	font-size: 1em;
	color: violet;
}

#technologies{
	font-size: 3em;
}

#next{
  display: flex;
}

#nextright{
	font-size: 2em;
	color: white;
	position: absolute;
	right:3%;
	bottom: 50%;
	animation: 1s fadeOutRight ;
	transition: left .2s;
}

#nextright:hover{
	animation: none;
	right: 2.5%;
}

#nextright:active{
	opacity: .5;
}


#nextleft{
	font-size: 2em;
	color: white;
	position: absolute;
	margin-left: 4%;
	bottom: 50%;
	animation: 1s fadeOutLeft;
	transition: margin-left .2s;
}

#nextleft:hover{
	animation: none;
	margin-left: 3.5%;
}

#nextleft:active{
	opacity: .5;
}

#profilediv{
    color: black;
    display: flex;
}


.profilepic{
	width: 40%;
    height: 50vh;
    padding: .2em;
	border: solid 2px grey;
    margin: 1em;
    margin-left: 2.5em;
    cursor: zoom-in;
    transition: .5s transform;
}

.profilepic:hover{
    transform: scale(1.1);
}

.fa-bars{
    display: none;
}

.open{
    display: none;
}

.send-message{
    width: 70%;
    color: white;
    text-align: center;
}


.send-message input,
.send-message textarea{
    margin: .1em 0;
    padding: .5em .2em;
    font-size: 1.5em;
    width: 50%;
    border-radius: 4px;
    border: solid 1px white;
    background-color: transparent;
    color: white;
}

.send-message input:focus,
.send-message textarea:focus{
    border: solid 1px yellowgreen;
}

.send-message button{
    font-size: 2em;
    padding: 0;
    margin: 0;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.send-message button:hover{
    color: yellowgreen;
}

.send-message button:active{
    color: white;
}

.contact-div{
    display: flex;
}


.fa-whatsapp,
.fa-envelope-square{
    font-size: 2em;
    color: greenyellow;
    margin-bottom: .5em;
}

.contact-details{
    position: absolute;
    bottom:  50%;
    right: 10%;
}

.contact-details span{
    color: white;
    font-size: 1.2em;
}

#blink{
    width: 5%;
    position: absolute;
    top: -2%;
}

.about-me{
    width: 50%;
    font-size: 1.1em;
}










/************MEDIA QUERIES*****************/

@media (max-width: 450px){
    .wrapper{
        background-size: auto;
        position: relative;
        max-height: 100%;
    }
    
    .footer form{
        display: none;
    }
    
    .footer  p{
        font-size: 3em;
        display: block;
        margin-bottom: 0;
        margin-left: 0;
        text-align: center;
    }
    
    .copyrightname{
        display: block;
        text-align: center;
    }
    
    .copyright{
        margin: .3em;
    }
    
    .affiliates{
        display: none;
    }
    
    .main-header{
        padding-right: none;
        position: absolute;
        bottom: 30%;
        left: 10%;
        width: 90%;
    }
    
    .container{
        padding: 5%;
	    max-height: calc(100vh - 100px);
    }
    
    .nav-list{
    display: none;
}
    
    .fa-bars{
    display: block;
    color: white;
    font-size: 2.5em;
    float: right;
    padding: .2em;
    cursor: pointer;
}
    
    .open{
    width: 100%;
    padding: 18vh 0;
    background-color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}
    
    .open ul{
        text-align: center;
        width: 90%;
        font-size: 2em;
    }
    
    .open li{
        margin-bottom: 1em;
        text-decoration: underline;
        text-decoration-color: violet;
    }
    
    .fa-times{
        font-size: 3em;
        position: absolute;
        top: 2%;
        right: 7%;
        cursor: pointer;
    }
    
    
.send-message{
    width: 90%;
}


.send-message input,
.send-message textarea{
    width: 95%;
    font-size: 1.3em;
}


.send-message button{
    padding: .3em;
}

.contact-div{
    display: block;
}


.fa-whatsapp,
.fa-envelope-square{
    font-size: 1.1em;
    color: greenyellow;
    margin-bottom: .5em;
}

.contact-details{
    position: relative;
    margin-left: 15%;
}

.contact-details span{
    color: white;
    font-size: 1em;
}

    .profilepic{
        width: 100%;
        height: 70%;
        margin: auto;
        padding: 0;
    }
    
    .profilepic:hover{
        transform: none;
    }
    
    #profilediv{
        display: block;
    }
    
    .about-me{
        width: 100%;
    }
    
#blink{
    width: 15%;
}

  /*PORTFOLIO*/
    
    
#laptopng{
    display: none;
}


#portfoliodesc{
	width: 100%;
    margin-right: 1.5em;;
    font-size: 1.2em;
}

    #mobilelaptopng{
        width: 80%;
        margin: auto;
        margin-bottom: 1em;
        display: block;
        padding: 3px;
        background-color: white;
    }
    
    
}












/* ANNIMATE     */

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}


@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 100%;
  }
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}


@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}


@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: .7;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: .7;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}



@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}






